[submodule "hardware/1v0/LimeMicroAltiumLib"]
	path = hardware/M.2/1v0/LimeMicroAltiumLib
	url = https://github.com/myriadrf/LimeMicroAltiumLib
[submodule "hardware/1v1/LimeMicroAltiumLib"]
	path = hardware/1v1/LimeMicroAltiumLib
	url = https://github.com/myriadrf/LimeMicroAltiumLib
